body{
    --bg-color: #f4f4f4;
    --text-color: #333;
}

.calculator{
    max-width:250px;
    margin: 0 auto;
    padding: 20px;
    background: var(--bg-color);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-toggle{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.display{
    margin-bottom: 20px;
    width: 100%;
}

#input{
    width: 100%;
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    outline: none;
    text-align: right;
}

#output{
    font-size: 16px;
    color: #999;
    float: right;
    margin-top: -20px;
}

.keyPad{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
}
.operations{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;

}
button{
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor:pointer;
    transition: 0.3s;
}

button:hover{
    transform: translateX(-2px);
    box-shadow: 0 0 10px rgba(124, 245, 138, 0.685);
    background: #ccc;
    animation-duration: 1s;
}

.operator-btn{
    background-color: orange;
}

.operator-btn:hover{
    background-color: #cc7f00;
}

.dark-mode button{
    background: #333;
    color: #fff;
    border-color: #fff;
}

.dark-mode button:hover{
    background: #666;
}

.dark-mode .operator-btn{
    background: #3e32ac;
    color: #fff;
}

.dark-mode .operator-btn:hover{
    background: #0c00f8;
    
}